<section id="admin-posts">
  <div id="posts-header">
    <div class="post-header">
      <h2><%= headerTitle %></h2>
      <% if (posts) { %>
      <form action="posts" method="GET">
        <input type="hidden" name="action" value="new" />
        <button>New</button>
      </form>
      <% } %>
    </div>
  </div>
  <div id="posts-summary">
    <% if (posts) { %>
    <div id="posts-columns">
      <h3>ID</h3>
      <h3>Author</h3>
      <h3>Content</h3>
      <h3>Date</h3>
    </div>
    <div id="posts">
      <% posts.forEach(post => { %>
      <div class="post">
        <h3><%= post.id %></h3>
        <h3><%= post.name %></h3>
        <div><%- post.snippet %></div>
        <h3><%= post.date.toLocaleString() %></h3>
      </div>
      <% }) %>
    </div>
    <% } else if (editor) { %>
    <link rel="stylesheet" href="css/quill.core.css" />
    <link rel="stylesheet" href="css/quill.snow.css" />

    <input type="text" name="post-title" id="post-title">
    <div class="posts-editor">
      <div id="editor"></div>
      <button type="button" name="submit-content">Submit Content</button>
    </div>

    <script src="js/quill.core.js" defer></script>
    <script src="js/editor.js" defer></script>
    <% } %>
  </div>
  <style>
    div#posts-columns,
    div.post {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    div.post-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>
</section>
